body {
  background-color: #ffcc00; /* Amarelo */
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 48px;
  color: #ff3300; /* Vermelho */
  text-shadow: 2px 2px #000;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  /*gap: 10px;*/
  justify-content: center;
  align-items: center;
  
}

.gifs img {
 max-width: 20vw;
 max-height: 20vh;
}
*/
.buttons {
  margin-top: 50px;
}

button {
  background-color: #3399ff; /* Azul */
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff6699; /* Rosa */
}
